<body style="background: url(http://www.joesateast.com/sites/default/files/cocktails-at-joes-at-east.jpg);
  background-attachment: fixed;
  background-size:cover;
  margin: 0;">

  <div id="container">
  <h2>Add a cocktail</h2>
  <br>
    <%= form_for [@cocktail] do |f| %>
    <%= f.text_field :name %><br>
    <%= f.submit "submit", class: "btn-form" %>
    <% end %>
    <%= link_to "back", cocktails_path, class: "btn-form" %>
    </div>
    <script src="js/index.js"></script>

</body>
</html>






