<html>
  <head>
    <meta charset="utf-8">
    <title>The World of Cocktails</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.joesateast.com/sites/default/files/cocktails-at-joes-at-east.jpg');">
      <div class="banner-content">
        <h1>The World of Cocktails</h1>
        <p>Find recipes for the best cocktails in the world.</p>
        <a href="cocktails/new" class="btn-medium">Add a new cocktail</a>
      </div>
    </div>

<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://cdn.liquor.com/wp-content/uploads/2010/09/20141732/classic-mojito-720FB.jpg');">
            <div class="card-category"></div>
            <h1><%= link_to cocktail.name, cocktail_path(cocktail), class: "max" %></h1>
       <!--      <%= link_to 'Show ingredients', cocktail_path(cocktail) %> -->
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
<br>

</body>
